<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
      <input #nameInput (keyup.enter)="modal.close(nameInput.value)" type="text" class="form-control" placeholder="Filter name">
          
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(nameInput.value)">Save</button>
    </div>
  </ng-template>
  
<div class="container">
  <div class="row push-top">

    <div class="col-4 form-group">
      <input [(ngModel)]="searchInput" (keyup.enter)="getNews()" (blur)="getNews()" type="email" class="form-control" id="exampleInputEmail1" placeholder="Search">
    </div>
    <div *ngIf="sources | async as list" class="col-4 form-group">
      <select multiple [(ngModel)]="sourcesInput" (change)="getNews()" class="form-control" id="sourceInput">
        <option *ngFor="let source of list.sources">
          {{ source.name }}
        </option>
      </select>
    </div>
    <div class="col"></div>
    <div class="col-2">
      
      <button *ngIf="!filterId" type="button" [disabled]="sourcesInput.length === 0" [ngClass]="{'disabled': sourcesInput.length === 0}" class="btn btn-primary block full" (click)="saveAsNew('create',content)">
        Save as New
      </button>
      <button *ngIf="filterId" type="button" [disabled]="sourcesInput.length === 0" [ngClass]="{'disabled':sourcesInput.length === 0}" class="btn btn-primary block full" (click)="saveAsNew('update',content)">
          Save
      </button>
      <button *ngIf="filterId" type="button" class="btn btn-primary block push-top full" (click)="reset()">
        Reset
      </button>
      <button *ngIf="filterId" type="button" class="btn btn-primary block push-top full" (click)="delete()">
        Delete
      </button>
    </div>
  </div>
  
  <div *ngIf="feed | async as list">
  <table class="table push-top">
    <thead>
      <tr>
        <th scope="col-6">News</th>
        <th (click)="sortBy('publishedAt')" class="pointer" scope="col">
            <fa-icon *ngIf="sort === 'publishedAt'" [icon]="faSortDown"></fa-icon> 
          Published at
        </th>
        <th (click)="sortBy('popularity')" class="pointer" scope="col">
            <fa-icon *ngIf="sort === 'popularity'" [icon]="faSortDown"></fa-icon> 
          Popularity
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list.articles; let i = index">
        <td>
          {{ item.title }} 
        </td>
        <td>
          {{ item.publishedAt | date }}
        </td>
      </tr>
      <tr *ngIf="list.articles.length === 0">
        No items matching the applied filter.
      </tr>
    </tbody>
  </table>
      <nav *ngIf="list.articles.length >= pageSize" aria-label="Page navigation example">
          <ul class="pagination">
            <li [ngClass]="{'disabled':!((currentPage - 1) > 0)}" class="page-item">
              <a class="page-link" (click)="changePage('back')">
                Previous
              </a>
            </li>
            <li *ngIf="(currentPage - 1) > 0" class="page-item"><a class="page-link" (click)="changePage('back')">{{ (currentPage - 1) }}</a></li>
            <li class="page-item disabled"><a class="page-link">{{ currentPage }}</a></li>
            <li class="page-item"><a class="page-link" (click)="changePage('next')">{{ currentPage + 1 }}</a></li>
            <li class="page-item"><a class="page-link" (click)="changePage('next')">Next</a></li>
          </ul>
        </nav>
  </div>
</div>